//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	transition: all 0.3s ease 0s;
	font-weight: 600;
	font-size: 23px;
	line-height: 177%;
	color: #fff;
	box-shadow:
		inset 5px 9px 21px 5px rgba(255, 255, 255, 0.25),
		0 4px 0 0 #125c92;
	background-color: #2894e3;
	border-radius: 12px;
	padding: 23px 50px;
	transition: background-color 0.3s ease 0s;
	&:hover {
		background-color: #217cbd;
	}
	@media (max-width: $mobileSmall) {
		padding: 22px;
	}
	@media (max-width: 430px) {
		font-size: 18px;
	}
}
